[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
jupyter = "*"
matplotlib = "*"
ipython = "*"
Flask-Failsafe = "*"

[packages]
"Fabric3" = "*"
numpy = "*"
Flask-API = "*"
Flask-SQLAlchemy = "*"
Flask = "*"
alembic = "*"
Flask-Failsafe = "*"
Flask-Cors = "*"
"psycopg2-binary" = "*"
gunicorn = "*"
"a4bbc5f" = {file = "https://github.com/flask-api/flask-api/archive/develop.zip"}
pandas = "*"
sniffer = "*"
macfsevents = "*"
rednose = "*"

[requires]
python_version = "3.6"
