[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
jupyter = "*"
matplotlib = "*"
ipython = "*"
"Fabric3" = "*"
Flask-Failsafe = "*"

[packages]
numpy = "*"
Flask-API = "*"
Flask-SQLAlchemy = "*"
Flask = "*"
alembic = "*"
Flask-Failsafe = "*"
Flask-Cors = "*"
"psycopg2-binary" = "*"
gunicorn = "*"

[requires]
python_version = "3.6"
